html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.css-info {
  text-align: center;
  padding: 20px;
}

.underline {
  width: 60px;
  height: 4px;
  background-color: #3E7B27;
  margin: 0 auto 20px;
  border-radius: 2px;
}

.css-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.css-card {
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  background: #fff;
}

.css img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.css-card h3 {
  margin: 10px 0;
}

.details-link {
  color: #3E7B27;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}

.css-card:hover {
  transform: translateY(-10px);
}

.see-all-btn {
  margin: 20px 0;
}

.see-all-btn .btn {
  padding: 10px 20px;
  background-color: #fff;
  color: #3E7B27;
  border: 2px solid #3E7B27;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  margin-right: 60px;
}

.see-all-btn .btn:hover {
  background-color: #3E7B27;
  color: #fff;
}

.btn-report {
  padding: 10px 20px;
  background-color: #123524;
  color: #fff;
  border: 2px solid #123524;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.see-all-btn .btn-report:hover {
  background-color: #3E7B27;
  color: #fff;
  border: 2px solid #3E7B27;
}

.auth-container {
  display:flex;
  top: 20px;
  right: 30px;
  align-items: center;
  gap: 15px;
  justify-content:flex-end;
}

.auth-container a, .auth-container button {
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.login-btn {
  color: white;
}

.signup-btn {
  color: white;
}

.logout-btn {
  color: white;
}

.auth-container button:hover,
.auth-container a:hover {
  opacity: 0.8;
}

.welcome-text {
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}

.navbar {
  background-color: #3E7B27 !important;
}

footer {
  flex: 0 0 60px;
  background-color: #f8f9fa;
  line-height: 60px;
}
