@model List<SingNature.Models.Category>

<div class="css-info">
    <h2>Wildlife Information</h2>
    <div class="underline"></div>

    <div class="css-container">
        @foreach (var category in Model)
        {
            <div class="css-card">
                <img src=@category.ImageUrl alt="@category.CategoryName" />
                <h3>@category.CategoryName</h3>
                <a href="@Url.Action("SpeciesList", "Species", new { categoryId = category.CategoryId })" class="details-link">SEE LIST →</a>
            </div>
        }
    </div>

    <div class="see-all-btn">
        <a href="@Url.Action("SpeciesCategory", "Species")" class="btn">SEE ALL CATEGORIES→</a>
    </div>
</div>
