@model List<SingNature.Models.Category>

<div class="css-info">
    <div class="text-center">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold">Wildlife Information</h2>
            <div>
                <a href="@Url.Action("SpeciesCategory", "Species")" class="btn btn-outline-dark me-2">View All Categories →</a>
            </div>
        </div>
        <div class="underline"></div>

        <div class="css-container">
        @foreach (var category in Model)
        {
            <div class="css-card">
                <img src=@category.ImageUrl alt="@category.CategoryName" style="max-width: 210px; max-height: 210px;" />
                <h3>@category.CategoryName</h3>
                <a href="@Url.Action("SpeciesList", "Species", new { categoryId = category.CategoryId })" class="details-link">SEE LIST →</a>
            </div>
        }
        </div>
    </div>
</div>
