@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="./index.css" />
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="sightings">
        <gmp-map
            center="1.29245,103.77657"
            zoom="15"
            map-id="53f04509b9ddcd70"
            style="height: 400px"
        ></gmp-map>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1QDles42NyhRJbN5WjMbYadWuYzyG5lo&loading=async&libraries=maps&v=beta" defer>
        </script>
    </div>
</body>

    

